<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block text-warning">
        <span>Get connected with us on social networks :</span>
      </div>
      <div>
        <a href="https://www.facebook.com/" class="me-4 text-reset"><i class="fa fa-facebook text-primary"></i></a>
        <a href="https://twitter.com/" class="me-4 text-reset"><i class="fa fa-twitter text-info"></i></a>
        <a href="https://www.google.com/" class="me-4 text-reset"><i class="fa fa-google text-success"></i></a>
        <a href="https://www.instagram.com/" class="me-4 text-reset"><i class="fa fa-instagram text-danger"></i></a>
        <a href="https://www.linkedin.com/" class="me-4 text-reset"><i class="fa fa-linkedin text-primary"></i></a>
        <a href="https://github.com/" class="me-4 text-reset"><i class="fa fa-github"></i></a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase text-font mb-4"><i class="fa fa-cart-plus text-warning"></i> SkyKart</h6>
            <p>
              skykart.com is a one stop destination for your family's needs.
               We give you the opportunity to give your Home a makeover with the latest Products from our top brands.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase text-font text-warning fw-bold mb-4">Business with Us</h6>
            <p><a href="#!" class="text-reset">Sell on ShopKart</a></p>
            <p><a href="#!" class="text-reset">Advertise Your Products</a></p>
            <p><a href="#!" class="text-reset">Become an Affiliate</a></p>
            <p><a href="#!" class="text-reset">Fulfilment by SkyKart</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase text-font text-warning fw-bold mb-4">Useful links</h6>
            <p><a href="#!" class="text-reset">FAQ</a></p>
            <p><a href="#!" class="text-reset">Feedback</a></p>
            <p><a href="#!" class="text-reset">About Us</a></p>
            <p><a href="#!" class="text-reset">Contact Us</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase text-font text-warning fw-bold mb-4"> Contact</h6>
            <p><i class="fa fa-home text-danger"></i> Piraharish</p>
            <p><i class="fa fa-envelope text-info"></i> Piraharish.s@gmail.com</p>
            <p><i class="fa fa-phone text-success"></i> + 91 8825828959</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center text-warning p-4">
      &copy;  2023 Copyright <a class="text-warning fw-bold" href="#"> skykart.com</a>
    </div>
  </footer>