<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand text-white text-font text-uppercase" href="{% url 'home' %}"><i class="fa fa-cart-plus text-warning"></i> SkyKart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link text-white text-font" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home text-success"></i> Home</a>
          {% if request.user.is_authenticated %}
            <div class="nav-item dropdown text-font">
              <a class="nav-link dropdown-toggle text-light  text-uppercase" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user text-info"></i> {{ request.user }}
              </a>
              <ul class="dropdown-menu bg-dark" aria-labelledby="userDropdown">
                  <li><a class="nav-link text-white" href="{% url 'orders' %}"><i class="fa fa-opencart text-primary" aria-hidden="true"></i>  Orders</a></li>
                  <li><a class="nav-link text-white" href="{% url 'save_address' %}"><i class="fa fa-address-card text-info" aria-hidden="true"></i>  Address</a></li>
                  <li><a class="nav-link text-white" href="{% url 'passwordchange' %}"><i class="fa fa-lock text-warning" aria-hidden="true"></i>  Change Password</a></li>
                  <li><a class="nav-link text-white" aria-current="page" href="{% url 'logout' %}"><i class="fa fa-sign-out text-danger" aria-hidden="true"></i>  Logout</a></li>
              </ul>
            </div>
          {% else %}
            <a class="nav-link text-white text-font" href="{% url 'login' %}"><i class="fa fa-sign-in text-success"></i> Login</a>
            <a class="nav-link text-white text-font" href="{% url 'register' %}"><i class="fa fa-users text-info"></i> Register</a>
          {% endif %}
            <a class="nav-link text-white text-font" href="{% url 'collections' %}"><i class="fa fa-cubes text-primary"></i> Products</a>
          {% if request.user.is_authenticated %}  
            <a class="nav-link text-white text-font" href="{% url 'cart' %}"><i class="fa fa-shopping-cart text-warning"></i> Cart</a>
            <a class="nav-link text-white text-font" href="{% url 'favviewpage' %}"><i class="fa fa-heart text-danger"></i> Favourites</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>