{% extends 'shop/layouts/main.html' %}
{% block title %}
  Products | SkyKart
{% endblock title %}
{% block content %}
  <!--<section class="py-2 text-center bg-dark"  style="margin-top:70px;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="text-heading text-warning">BESTSELLERS</h2>
        <p class="lead text-muted">Our most popular products based on sales. Updated hourly.</p>
        {% if not user.is_authenticated %}
          <p>
            <a href="{% url 'login' %}" class="btn btn-primary my-2">Already User</a>
            <a href="{% url 'register' %}" class="btn btn-secondary my-2">Register</a>
          </p>
        {% endif %}
      </div>
    </div>
  </section>-->
  <hr class="text-dark">
  <section class="bg-secondary py-0 my-5" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="mb-3 text-center text-warning text-heading">CATEGORIES</h3>
          <hr style="border-color:#b8bfc2;">
          {% include 'shop/inc/message.html' %}
        </div>
        {% for item in catagory %}
        <div class="col-md-4 col-lg-3">
          <div class="card my-3 bg-dark">
            <a href="{% url 'collections' item.name %}">
            <img src="{{item.image.url}}"  class="card-img-top" alt="Categories">
            <div class="card-body">
              <h5 class="card-title text-font text-center text-warning">{{ item.name }}</h5>
              <p class="card-text text-muted">{{ item.description }}</p>
            </div>
          </a>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
  </section>

{% endblock content %}